
<footer class="bg3 p-t-75 p-b-32">

	<div class="container">
		<div class="row">
			<div class="col-sm-2 m-l-20">
				<h4 class="stext-301 cl0 p-b-30">카테고리</h4>

				<ul>
					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 여성 </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 남성 </a></li>
					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 키즈 </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 뷰티 </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 라이프스타일 </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 배송 </a></li>
				</ul>
			</div>

			<div class="col-sm-2">
				<h4 class="stext-301 cl0 p-b-30">추천상품</h4>

				<ul>
					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> best 상품 </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> sale 상품 </a></li>
					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 품절임박 상품 </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 신상품 </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 이달의 추천 상품 </a></li>


				</ul>
			</div>

			<div class="col-sm-2">
				<h4 class="stext-301 cl0 p-b-30">고객편의</h4>

				<ul>
					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 온라인 고객센터 </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 문의하기 </a></li>
					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> FAQ </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 수선진행조회 </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 매장찾기 </a></li>

					<li class="p-b-10"><a href="#"
						class="stext-107 cl7 hov-cl1 trans-04"> 배송 </a></li>
				</ul>
			</div>

			<div class="col-sm-2">
				<h4 class="stext-301 cl0 p-b-30" style="text-align: center;">이벤트</h4>
				<p class="stext-107 cl7 size-201" style="text-align: left;">
				<a th:href="@{/event/}">
					<img th:src="@{/images/footerevent.png}" style="width: 128%;" class="m-r-30">
					</a>
				</p>

			</div>



			<div class="col-sm-2 col-lg-3 p-b-50">
				<h4 class="stext-301 cl0 p-b-30" style="text-align: center;">
					추가 서비스</h4>
				<div style="display: flex; justify-content: center;">
					<a th:href="@{https://www.thehandsome.com/ko/appDownloadSMS/sendSMSPage}">
						<img th:src="@{/images/handsomeapp.png}" style="width: 39%;"
						class="m-l-88">
					</a>
				</div>
				<div class="stext-107 cl7 size-201 m-l-19 m-t-25"
					style="text-align: center;">한섬 APP 다운로드 ></div>

				<div style="display: flex; justify-content: center;" class="m-t-25">
					<a th:href="@{http://www.thehandsome.com/ko/svcenter/footerAthomeInfo}">
						<img th:src="@{/images/handsomeDeliver.png}" style="width: 55%;"
						class="m-l-55">
					</a>


				</div>
				<div class="stext-107 cl7 size-201 m-l-25"
					style="text-align: center;">딜리버리 서비스 ></div>

			</div>
		</div>

		<div class="p-t-40">
			<div class="flex-c-m flex-w p-b-18">
				
			</div>

			<p class="stext-107 cl6 txt-center">create by team3 (고정민, 박경무,
				원주혜 )</p>
		</div>
	</div>
</footer>
</html>