<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="setContent(content)">
	<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Spring Boot</title>

<link rel="stylesheet" th:href="@{/css/app.css}" />
<!--===============================================================================================-->
<link rel="icon" type="image/jpg" th:href="@{/images/icons/hansome.jpg}" />
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<script th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/select2/select2.min.js}"></script>
<!--===============================================================================================-->

<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/fonts/linearicons-v1.0.0/icon-font.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css-hamburgers/hamburgers.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/select2/select2.min.css}" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" th:href="@{/perfect-scrollbar/perfect-scrollbar.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css?version=53}" />
<link rel="stylesheet" type="text/css" media="all" th:href="@{/dist/css/datepicker.min.css}">
<script th:src="@{/dist/js/datepicker.js}"></script>
<script th:src="@{/dist/js/i18n/datepicker.ko.js}"></script>
	</head>

	<body>
		<nav id="header-fixed"
			class="navbar navbar-expand-sm navbar-light bg-white border-bottom ">
			<div class="collapse navbar-collapse" id="navbarColor"
				style="display: flex; justify-content: space-around">
				<div class="left-logo">
					<a class="navbar-brand ml-2 font-weight-bold" href="/"> <img
						th:src="@{/images/top-header-handsome-logo.png}" /></a>
				</div>
				<div class="middle">
					<ul id="navbar" class="navbar-nav"
						style="display: flex; margin-left: 15px">
						<li class="nav-item"><a class="nav-link" data-action="키즈">키즈</a></li>
						<li class="nav-item"><a class="nav-link" data-action="라이프스타일">라이프스타일</a></li>
						<li class="nav-item"><a class="nav-link" data-action="남성">남성</a></li>
						<li class="nav-item"><a class="nav-link" data-action="여성">여성</a></li>
					</ul>
				</div>

				<div class="right">
					<ul class="navbar-nav">
						<li sec:authorize="!isAuthenticated()" class="nav-item"><a
							th:href="@{/security/loginForm}" class="nav-link">로그인</a></li>

						<li class="nav-item" sec:authorize="isAuthenticated()"><a
							th:href="@{/logout}" class="nav-link">로그아웃</a></li>

						<li class="nav-item"><a class="nav-link" th:href="@{/cart/2}">쇼핑백</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/order/orderList}">주문조회</a></li>
						<div sec:authorize="isAuthenticated()">

							<li class="nav-item"><a class="nav-link" th:href="@{/mycoupon}">마이쿠폰</a></li>

						</div>
					</ul>
				</div>
			</div>
		</nav>

		<!-- 키즈 category -->
		<div id="키즈" class="sub-back">
			<li class="category-list"><a href="/product/list?c=01">전체보기</a></li>
			<ul class="category-list"
				style="display: flex; flex-direction: column">
				<div class="largecategory">
					<a href="/product/list?c=0101">의류</a>
				</div>
				<li><a href="/product/list?c=010101">하의</a></li>
				<li><a href="/product/list?c=010102">상의</a></li>
			</ul>

			<ul class="category-list">
				<div class="largecategory">
					<a href="/product/list?c=0102">잡화</a>
				</div>
				<li><a href="/product/list?c=010201">기타 소품</a></li>
			</ul>
		</div>

		<!-- 라이프스타일 -->
		<div id="라이프스타일" class="sub-back">
			<li class="category-list"><a href="/product/list?c=02">전체보기</a></li>
			<ul class="category-list"
				style="display: flex; flex-direction: column">
				<div class="largecategory">
					<a href="/product/list?c=0201">배스</a>
				</div>
				<li><a href="/product/list?c=020101">기타 소품</a></li>
			</ul>

			<ul class="category-list">
				<div class="largecategory">
					<a href="/product/list?c=0202">홈</a>
				</div>
				<li><a href="/product/list?c=020201">패브릭</a></li>
				<li><a href="/product/list?c=020202">프래그런스</a></li>
				<li><a href="/product/list?c=020203">기타 소품</a></li>
			</ul>
		</div>

		<!-- 남성  -->
		<div id="남성" class="sub-back men">
			<li class="category-list"><a href="/product/list?c=03">전체보기</a></li>
			<ul class="category-list"
				style="display: flex; flex-direction: column">
				<div class="largecategory">
					<a href="/product/list?c=0301">아우터</a>
				</div>
				<li><a href="/product/list?c=030101">가디건/베스트</a></li>
				<li>코트</li>
				<li>다운/패딩</li>
				<li>재킷</li>
				<li>점퍼</li>
				<li>트렌치코트</li>
			</ul>

			<ul class="category-list">
				<div class="largecategory">
					<a href="/product/list?c=0302">팬츠</a>
				</div>
				<li><a href="/product/list?c=030201">데님</a></li>
				<li>루즈/테이퍼드</li>
				<li>쇼츠</li>
				<li>스트레이트</li>
				<li>조거/트랙</li>
			</ul>

			<ul class="category-list"
				style="display: flex; flex-direction: column">
				<div class="largecategory">SPECIAL SHOP*</div>
				<li>CLUB MONACO : 폴로 한잔의 여유</li>
				<li>CLUB MONACO : COATS FOR MEN</li>
				<li>SYSTEM HOMME : (NEW) SWEATS</li>
				<li>SYSTEM HOMME : PARIS PT</li>
				<li>SYSTEM HOMME : SYSTEM X 275C</li>
				<li>SYSTEM HOMME : TYPE 2</li>
				<li>THEHANDSOME 5TH : # WITH US</li>
				<li>TIME HOMME : ONLINE EXCLUSIVE</li>
				<li>TIME HOMME THE GENTLE</li>
			</ul>

			<ul class="category-list">
				<div class="largecategory">
					<a href="/product/list?c=0304">수트 
				</div>
				<li><a href="/product/list?c=030401">드레스셔츠</a></li>
				<li><a href="/product/list?c=030402">수트재킷</a></li>
				<li>수트팬츠</li>
			</ul>
			<ul class="category-list">
				<div class="largecategory">탑</div>
				<li>니트</li>
				<li>셔츠</li>
				<li>티셔츠</li>
			</ul>
		</div>

		<!-- 여성 -->
		<div id="여성" class="sub-back women">
			<li class="category-list">전체보기</li>
			<ul class="category-list"
				style="display: flex; flex-direction: column">
				<div class="largecategory">드레스</div>
				<li>롱/맥시 드레스</li>
				<li>미디 드레스</li>
				<li>미니 드레스</li>
			</ul>

			<ul class="category-list">
				<div class="largecategory">패션잡화</div>
				<li>가방</li>
				<li>기타 소품</li>
				<li>스카프/머플러</li>
			</ul>

			<ul class="category-list"
				style="display: flex; flex-direction: column">
				<div class="largecategory">
					<a href="/product/list?c=0403">아우터</a>
				</div>
				<li><a href="/product/list?c=040301">가디건/베스트</a></li>
				<li><a href="/product/list?c=040302">코트</a></li>
				<li><a href="/product/list?c=040303">다운/패딩</a></li>
				<li><a href="/product/list?c=040304">재킷</a></li>
				<li><a href="/product/list?c=040305">점퍼</a></li>
				<li><a href="/product/list?c=040306">트렌치 코트</a></li>
			</ul>

			<ul class="category-list">
				<div class="largecategory">
					<a href="/product/list?c=0404">팬츠</a>
				</div>
				<li><a href="/product/list?c=040401">캐주얼</a></li>
				<li><a href="/product/list?c=040402">데님</a></li>
				<li><a href="/product/list?c=040403">포멀</a></li>
				<li><a href="/product/list?c=040404">쇼츠</a></li>
			</ul>
			<ul class="category-list"
				style="display: flex; flex-direction: column">
				<div class="largecategory">
					<a href="/product/list?c=0405">스커트</a>
				</div>
				<li><a href="/product/list?c=040501">플레어 스커트</a></li>
				<li><a href="/product/list?c=040502">롱/맥시 스커트</a></li>
				<li><a href="/product/list?c=040503">미니 스커트</a></li>
				<li><a href="/product/list?c=040504">펜슬 스커트</a></li>
			</ul>

			<ul class="category-list">
				<div class="largecategory">
					<a href="/product/list?c=0407">탑</a>
				</div>
				<li><a href="/product/list?c=040701">블라우스</a></li>
				<li><a href="/product/list?c=040702">니트</a></li>
				<li><a href="/product/list?c=040703">셔츠</a></li>
				<li><a href="/product/list?c=040704">티셔츠</a></li>
			</ul>
		</div>

		<!-- Content -->
		<div class="page-title"></div>

		<th:block th:replace="${content}"></th:block>

		<th:block th:replace="~{common/footer}"></th:block>


		<script>
      class menu {
        constructor(elem) {
          this._elem = elem;
          this._currenthover = null;
          elem.onmouseover = this.onMouse.bind(this); // (*)
        }
        onMouse(event) {
          console.log(event.target);
          let action = event.target.dataset.action;
          console.log(action);
          if (action == "여성") {
            if (this._currenthover != null) {
              this._currenthover.style.display = "none";
            }
            this._currenthover = 여성;
            여성.style.display = "flex";

            여성.onmouseleave = function () {
              여성.style.display = "none";
            };
          } else if (action == "남성") {
            if (this._currenthover != null) {
              this._currenthover.style.display = "none";
            }
            this._currenthover = 남성;
            남성.style.display = "flex";

            남성.onmouseleave = function () {
              남성.style.display = "none";
            };
          } else if (action == "키즈") {
            if (this._currenthover != null) {
              this._currenthover.style.display = "none";
            }
            this._currenthover = 키즈;
            키즈.style.display = "flex";

            키즈.onmouseleave = function () {
              키즈.style.display = "none";
            };
          } else if (action == "라이프스타일") {
            if (this._currenthover != null) {
              this._currenthover.style.display = "none";
            }
            this._currenthover = 라이프스타일;
            라이프스타일.style.display = "flex";

            라이프스타일.onmouseleave = function () {
              라이프스타일.style.display = "none";
            };
          }
        }
      }
      new menu(navbar);
     </script>
	</body>
</th:block>
</html>