<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/common/layout::setContent(~{this::content})}">
<th:block th:fragment="content">	


<div style="padding: 35px 0 45px 0">
	<h3 class="cnts_title">
		<span>로그인</span>
	</h3>
	<div class="inner_box" style="width: 415px; margin: auto">
		<div class="title_wrap">
			<h4>회원</h4>
		</div>
		
		<div class="card-body">
		<div th:if="${loginError}" class="alert alert-danger mb-2">
		  아이디 또는 비밀번호 오류
		</div>			
		
		<form method="post" th:action="@{/login}">
		
			<div class="form-group m-b-20">
				<label for="mid">아이디</label> <input type="text"
					class="form-control" id="mlogin_id" name="mlogin_id"
					placeholder="아이디 / 이메일을 입력하세요.">
			</div>
			<div class="form-group m-b-20">
				<label for="mpassword">비밀번호</label> <input
					type="password" class="form-control" id="mpw"
					name="mpw" placeholder="비밀번호를 입력하세요.">
			</div>
			
			<button type="submit"class="btn_login m-b-35"
				id="login_btn"
				>로그인</button>
		</form>
	</div>
</div>

<!-- 
<div class="card m-2">
	<div class="card-header">
		로그인 폼
	</div>
	<div class="card-body">
		<div th:if="${loginError}" class="alert alert-danger mb-2">
		  Wrong user or password
		</div>			
		
		<form method="post" th:action="@{/login}">
			<div class="form-group">
			    <label for="mid">Member ID</label>
			    <input type="text" class="form-control" id="mlogin_id" name="mlogin_id" value="mlog1">
			</div>
			<div class="form-group">
				<label for="mpassword">Member Password</label>
				<input type="password" class="form-control" id="mpw" name="mpw" value="12345">
			</div>
			<button type="submit" class="btn btn-success btn-sm mt-2">로그인</button>
		</form>	
	</div>
</div>  -->

</th:block>
</th:block>
</html>
