.body {
  font-family: "Courier New", Courier, monospace;
}

button:disabled{
	background: #EAEAEA;
}

#header-fixed {
  top: 0;
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 1100;
}

.sub-back {
  display: none;
  width: 100%;
  height: 250px;
  border-bottom: 1px solid rgb(229, 229, 229);
  justify-content: center;
  position: absolute;
  padding-top: 85px;
  left: 0;
  width: 100%;
  z-index: 8;
  background-color: white;
  opacity: 0.8;
}

.sub-back.men{
	height: 380px;
}
.sub-back.women{
	height:300px;
}

.sub-back:hover {
  display: block;
}

.category-list {
  margin: 16px 32px;
  color: rgb(54, 54, 54);
}

.category-list .largecategory {
  margin-bottom: 6px;
}

.category-list li {
  color: rgb(148, 148, 148);
  margin-bottom: 3px;
}

.cart {
  width: 5px;
  height: 5px;
  background-position: 14px 0px;
}

.right li {
  display: flex;
  align-items: center;
}

.subcategory a,
.description a {
  color: #404040;
  border: none;
}

.subcategory a:hover {
  font-weight: bold;
  border: 0;
}

.subcategory a:link {
  text-decoration: none;
}

h3.h3 {
  text-align: center;
  margin: 1em;
  text-transform: capitalize;
  font-size: 1.7em;
}

.demo {
  padding: 45px 0;
}

.product-grid2 {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.product-grid2 .product-image2 {
  overflow: hidden;
  position: relative;
}

.product-grid2 .product-image2 a {
  display: block;
}

.product-grid2 .product-image2 img {
  width: 100%;
  height: auto;
}

.product-image2 .pic-1 {
  opacity: 1;
  transition: all 0.5s;
}

.product-grid2:hover .product-image2 .pic-1 {
  opacity: 0;
}

.product-image2 .pic-2 {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}

.product-grid2:hover .product-image2 .pic-2 {
  opacity: 1;
}

.product-grid2 .social {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 50px;
  right: 25px;
  z-index: 1;
}

.product-grid2 .social li {
  margin: 0 0 10px;
  display: block;
  transform: translateX(100px);
  transition: all 0.5s;
}

.product-grid2:hover .social li {
  transform: translateX(0);
}

.product-grid2:hover .social li:nth-child(2) {
  transition-delay: 0.15s;
}

.product-grid2:hover .social li:nth-child(3) {
  transition-delay: 0.25s;
}

.product-grid2 .social li a {
  color: #505050;
  background-color: #fff;
  font-size: 17px;
  line-height: 45px;
  text-align: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: block;
  transition: all 0.3s ease 0s;
}

.product-grid2 .social li a:hover {
  color: #fff;
  background-color: #3498db;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product-grid2 .social li a:after,
.product-grid2 .social li a:before {
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  line-height: 22px;
  border-radius: 3px;
  padding: 0 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}

.product-grid2 .social li a:after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -22px;
  z-index: -1;
}

.product-grid2 .social li a:hover:after,
.product-grid2 .social li a:hover:before {
  opacity: 1;
}

.product-grid2 .add-to-cart {
  color: #fff;
  background-color: #404040;
  font-size: 15px;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  display: block;
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: all 0.3s;
}

.product-grid2 .add-to-cart:hover {
  background-color: #3498db;
  text-decoration: none;
}

.product-grid2:hover .add-to-cart {
  bottom: 0;
}

.product-grid2 .product-new-label {
  background-color: #3498db;
  color: #fff;
  font-size: 17px;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s;
}

.product-grid2:hover .product-new-label {
  opacity: 0;
}

.product-grid2 .product-content {
  padding: 20px 10px;
  text-align: center;
}

.product-grid2 .title {
  font-size: 17px;
  margin: 0 0 7px;
}

.product-grid2 .title a {
  color: #303030;
}

.product-grid2 .title a:hover {
  color: #3498db;
}

.product-grid2 .price {
  color: #303030;
  font-size: 15px;
  margin-bottom: 7px;
}

@media screen and (max-width: 990px) {
  .product-grid2 {
    margin-bottom: 30px;
  }
}

[Slick1]*/ .wrap-slick1 {
  position: relative;
}

.item-slick1 {
  height: calc(100vh - 40px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.rs1-slick1 .item-slick1 {
  height: calc(100vh - 84px);
}

.rs2-slick1 .item-slick1 {
  height: 100vh;
}

@media (max-width: 991px) {
  .item-slick1 {
    height: calc(100vh - 70px) !important;
  }
}

.arrow-slick1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  font-size: 80px;
  color: rgba(0, 0, 0, 0.3);
  position: absolute;
  opacity: 0;

  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  z-index: 200;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.wrap-slick1:hover .arrow-slick1 {
  opacity: 1;
}

.arrow-slick1:hover {
  color: #7280e0;
}

.next-slick1 {
  right: 50px;
  left: auto;
}

.prev-slick1 {
  left: 50px;
  right: auto;
}

@media (max-width: 991px) {
  .next-slick1 {
    right: 15px;
  }

  .prev-slick1 {
    left: 15px;
  }
}

/*---------------------------------------------*/
.rs2-slick1 .arrow-slick1 {
  color: rgba(255, 255, 255, 0.3);
}

.rs2-slick1 .arrow-slick1:hover {
  color: #7280e0;
}

.wrap-slick1-dots {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 60px;
}

.slick1-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.slick1-dots li {
  max-width: 190px;
  position: relative;
  cursor: pointer;
  margin-right: 1px;
}

.slick1-dots li img {
  width: 100%;
}

.caption-dots-slick1 {
  font-family: Poppins-ExtraLight;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  text-align: center;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
	
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

.slick1-dots li:hover .caption-dots-slick1 {
  opacity: 1;
}

.slick1-dots li.slick-active .caption-dots-slick1 {
  opacity: 1;
}

@media (max-width: 575px) {
  .caption-dots-slick1 {
    font-size: 13px;
  }

  .wrap-slick1-dots {
    bottom: 25px;
  }
}

.container {
  max-width: 1380px;
}

@media (max-width: 1600px) {
  .container {
    max-width: 1200px;
  }
}

.border_box1 {
  position: relative;
  border: 1px solid #e3e3e3;
  overflow: hidden;
  width: 495px;
  height: 537px;
}

.login_wrap.renewal1904 .inner_box .login_section {
  border-bottom: none;
  border-top: none;
  margin-bottom: 5px;
}

.btn_login {
  width: 415px;
  height: 42px;
  position: inherit;
  top: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  line-height: 0;
  height: 70px;
  background: #4a4a4a;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.title_wrap {
  border-bottom: 1px solid #e3e3e3;
  width: 457px;
  padding: 20px 0px;
  margin: 0 auto;
}

.cnts_title {
  text-align: center;
}
.cnts_title span {
  margin: auto;
}

.subcategory {
  padding: 8px 0;
  font-size: 16px;
}

.page-title {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 100px 0px 30px 0px;
  font-size: 20px;
}


.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next,
.carousel-item-prev {
  position: absolute;
  top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.carousel-item-next,
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-next,
  .active.carousel-item-right {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

.carousel-item-prev,
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.carousel-control-center a:hover {
	color:  white;
	text-decoration: none;
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-item-prev,
  .active.carousel-item-left {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.carousel-control-prev,
.carousel-control-next  {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.carousel-control-center {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 50%;
  color: #fff;
  text-align: center;
  left: 25%;
}


.carousel-control-prev:focus, .carousel-control-prev:hover,
.carousel-control-next:focus,
.carousel-control-next:hover {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
