<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
<th:block th:fragment="content">

	<div class="card m-2">
		<div class="card-header">
			Text 삽입
		</div>
		<div class="card-body">
			<div>
				<h6 class="text-warning">속성삽입: th:text, th:utext</h6>
				<hr />
				<div>bno: <span data-th-text="${board.bno}"></span></div>
				<div>btitle: <span th:text="${board.btitle}"></span></div>
				<div>bcontent: <span th:utext="${board.bcontent}"></span></div>
				<div>mid: <span th:utext="${board.mid}"></span></div>
				<div>bdate: <span th:text="${#dates.format(board.bdate, 'yyyy.MM.dd')}"></span></div>
			</div>
			<hr />
			<div>
				<h6 class="text-success">인라인 삽입</h6>
				<div>bno: [[${board.bno}]]</div>
				<div>btitle: [[${board.btitle}]]</div>
				<div>bcontent: [[${board.bcontent}]]</div> <!-- 문자참조로 변함 -->
				<div>bcontent(unescaped): [(${board.bcontent})]</div> <!-- 문자참조로 변하지 않음 -->
				<div>mid: [[${board.mid}]]</div>
				<div>bdate: [[${#dates.format(board.bdate, 'yyyy.MM.dd')}]]</div>
			</div>
		</div>
	</div>
	
</th:block>
</th:block>
</html>